.Storypost1{
    background-color: whitesmoke;
    width:600px;
    height:440px;
    margin-left: 480px;
    border-radius: 10px;
    margin-top: 2200px;
    box-shadow:0px 5px 17px -7px rgb(0,0,0,0.75) ;    
}
